127.0.0.1 localhost {{ inventory_hostname }} localhost.{{ cluster.domain }} {{ inventory_hostname }}.{{ cluster.domain }}
::1       localhost {{ inventory_hostname }} localhost.{{ cluster.domain }} {{ inventory_hostname }}.{{ cluster.domain }}
