if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

nix_direnv_watch_file **/*.nix
nix_direnv_watch_file flake.lock

DEVENV_ROOT_FILE="$(mktemp)"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
if ! use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
then
  echo "Failed to build devenv. Edit flake.nix and hit enter to try again." >&2
fi

export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"

# TODO: fetch these into the devenv state dir.
#export TALOSCONFIG="$(expand_path ./talos/clusterconfig/talosconfig)"
#export KUBECONFIG="$(expand_path ./kubeconfig)"
