auto lo
iface lo inet loopback

auto eth0

iface eth0 inet static
    address {{ net4 }}
    gateway {{ network.uplink.gw4 }}
    dns-nameservers{% for ip in network.uplink.dns4.three %} {{ ip }}{% endfor +%}

iface eth0 inet6 static
    address {{ net6 }}
    gateway {{ network.uplink.gw6 }}
    dns-nameservers{% for ip in network.uplink.dns6.three %} {{ ip }}{% endfor -%}
