locker-k8s-01.yaml
locker-k8s-02.yaml
locker-k8s-03.yaml
locker-k8s-04.yaml
locker-k8s-05.yaml
locker-k8s-06.yaml
locker-k8s-07.yaml
talosconfig
locker-locker-01.yaml
locker-locker-02.yaml
locker-locker-03.yaml
locker-locker-04.yaml
locker-locker-05.yaml
locker-locker-06.yaml
locker-locker-07.yaml
locker-locker-08.yaml
locker-locker-09.yaml
locker-locker-10.yaml
